version: '3.7'

# Define services
services:
  # App backend service
  app-server:
    # Configuration for building the docker image for the backend service
    build:
      context: . # Use an image built from the specified dockerfile in the `crud` directory.
      dockerfile: Dockerfile
    ports:
      - "7070:7070" # Docker Port:SpringBoot Port
    restart: always
    depends_on:
      - db # This service depends on mysql. Start that first.
    environment: # Pass environment variables to the service
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/qnadb?useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: qnauser
      SPRING_DATASOURCE_PASSWORD: qnauser
    networks: # Networks to join
      - backend

  # Database Service (Mysql)
  db:
    image: mysql:8.0.28
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_DATABASE: qnadb
      MYSQL_USER: qnauser
      MYSQL_PASSWORD: qnauser
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backend

  # My SQL Admin App
  db-ui:
    image: adminer:4.8.0
    depends_on:
      - db
    environment:
      ADMINER_DEFAULT_SERVER: mysql
      ADMINER_DESIGN: galkaev
    ports:
      - 9090:8080
    expose:
      - 9090
    networks:
      - backend


# Volumes
volumes:
  db-data:

# Networks to be created to facilitate communication between containers
networks:
  backend: